.home-header-banner-allgara {
    background: url(../../../assets/img/image/gara4.png)center center no-repeat;
    height: 200px;
    display: flex;
    flex-direction: column;
    background-size: cover;


    .content-up {
        margin-top: 50px;
        height: 50%;
        padding-top: 20px;



        .search {





            align-items: center;

            padding: 10px;




            i {
                margin: 0 5px;

                &:hover {
                    .text-child {
                        color: #49bce2;
                    }
                }
            }

            input {
                height: 30px;
                width: 380px;
                background: transparent;
                border: none;
                outline: none;
            }
        }

    }





}

.content-down {}

.gara-child {
    background-color: rgb(255, 255, 255);

}