.manage-car-container {
    .car-header {
        background-color: rgb(216, 233, 233);
        padding-bottom: 20px;
        padding: 10px;
        border-radius: 2%;
        margin-top: 20px;

        .tiltle {}

        .action {}

        .actionform {}
    }



    .car-body {}
}