.manage-handbookuncenser-container {
    .action {
        margin-top: 20px;
        background-color: rgb(216, 233, 233);
        padding-bottom: 20px;
        padding: 10px;
        border-radius: 2%;
    }
}