.manage-booking-container {
    .booking-header {
        background-color: rgb(216, 233, 233);
        padding-bottom: 20px;
        border: 2%;
        padding: 10px;
        margin-top: 20px;
    }

    .nodata {
        min-height: 400px;
    }
}