.manage-handbook-staff-container {
    .m-p-title {
        background-color: rgb(216, 233, 233);
        padding-bottom: 20px;
    }

    .table-handbook {
        min-height: 400px;
    }

    .nodata {
        min-height: 400px;
    }
}