.manage-order-container {
    .m-p-title {
        background-color: rgb(216, 233, 233);
        padding-bottom: 20px;
    }

    .table-order {
        min-height: 400px;
    }

    .nodate {
        min-height: 400px;
    }
}