.manage-user-container {
    .user-header {
        background-color: rgb(216, 233, 233);
        padding-bottom: 20px;
        border-radius: 2%;
        margin-top: 20px;


    }

    .user-body {
        margin-top: 20px;
    }
}