.manage-user-container {
    .user-header {
        background-color: rgb(216, 233, 233);
        padding-bottom: 20px;

        .actionform {
            padding: 20px 100px;

            justify-content: center;

            .btn-search {}
        }
    }
}