.Car-Detail-Container {
    background-color: rgb(216, 233, 233);
    padding-bottom: 20px;

    .introduction2 {
        display: flex;

        .content-left {
            border-radius: 0;
            height: 300px;
            width: 30%;
            background-size: cover;
            background-repeat: no-repeat;

        }

        .content-right {
            width: 70%;
        }
    }
}