.comment-container {
    border: 1px solid #ddd;

    .comment-customer {
        .style-module_starRatingWrap__q-lJC {
            pointer-events: none !important;
        }

        padding: 0 50px;

        .comment-header {
            .day {
                font-size: 13px;
                font-weight: 300;
            }
        }

        .comment-rate {
            margin-bottom: 20px;
        }

        .comment-body {}
    }

    .comment-rate-final {
        .style-module_starRatingWrap__q-lJC {
            pointer-events: none !important;
        }


    }


}