.comment-container {
    border: 1px solid #ddd;

    .comment-customer {
        .style-module_starRatingWrap__q-lJC {
            pointer-events: none !important;
        }


        .comment-header {}

        .comment-rate {}

        .comment-body {}
    }

    .comment-rate-final {
        .style-module_starRatingWrap__q-lJC {
            pointer-events: none !important;
        }
    }


}