.Gara-Detail-Container {
    border-radius: 2%;
    background-color: rgb(255, 255, 255);
    margin-top: 20px;


    .introduction {
        .content-left {
            border: 1px solid #ddd;
        }

        .content-right {
            border-left: 1px solid#Ddd;
        }
    }

    .schedule-gara {


        min-height: 200px;
        padding: 10px 0;
        border-top: 1px solid #ddd;
        border-bottom: 1px solid #ddd;

        .conten-left {

            border-right: 1px solid #ddd;

        }



        .conten-right {
            padding: 10px 20px;
        }
    }








    .introduction {
        border-top: 1px solid #ddd;


        .content-left {

            width: 120px;
            height: 120px;
            border-radius: 50%;
            margin: 10px 20px;

            background: center center no-repeat;

        }

        .content-right {


            display: flex;
            flex-direction: column;
            padding-left: 10px;

            .up {
                font-size: 20px;
                font-weight: 600;
                padding-top: 15px;
            }

            .down {
                padding-top: 10px;
            }
        }
    }
}

.detail-info-docter {
    border-radius: 2%;
    margin-top: 50px;
    border-top: 1px solid #ddd;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    margin-bottom: 20px;


    img {
        width: 100%;
    }
}

.comment {

    border-top: 1px solid #ddd;
    height: 50px;
    padding: 0 200px;
}