.manage-order-container {
    .m-p-title {
        background-color: rgb(216, 233, 233);
        padding-bottom: 20px;
        border-radius: 2%;
        padding: 10px;
    }

    .m-p-body {
        border-radius: 2%;
        min-height: 600px;
    }


    .emty {
        min-height: 600px;
    }
}