.nav-container {
    position: sticky;
    top: 0;
    z-index: 50;


    .nav-header {

        .bg-header {
            background-color: #20232a;


            .navbar-brand {
                color: #61dafb !important;
            }
        }

        a {
            color: white !important;

            &:hover {
                color: #61dafb !important;
            }


        }


        .nav-link {
            color: white !important;



            &:hover {
                color: #61dafb !important;
            }

            &.active {
                color: #61dafb !important;
            }

        }

        .dropdown-menu {
            .dropdown-item {
                color: #212529 !important;
            }

            .nav-link {
                color: black !important;

                &:hover {
                    color: #6c860b !important;
                }

                &.active {
                    color: #6c860b !important;
                }
            }
        }

    }
}